* {
    margin: 0;
    padding: 0;
}
  
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
main {
    margin: 0 auto;
    max-width: 100em;
    padding: 1em;
    min-height: 80vh;
}

body {
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: rgb(250, 250, 250);
}

.deildir {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.deild {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    justify-items: left;

    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 1.5em;
    min-height: 9.5em;
}

main h3, main h2 {
    margin: 0;
    padding-bottom: 1em;
    font-weight: 900;
    text-transform: uppercase;
}

.deild a {
    text-decoration: none;
    background-color: rgb(53, 156, 113);
    padding: 0.5em 1em;
    color: white;
    border-radius: 25px;
    text-align: center;
    transition: padding .2s;
    max-height: 2.5em;
}
.deild p {
    padding-bottom: 1em;
    color:gray;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    padding-top: 1em;
}
.lysing {
    margin-bottom: 10px;
}

.lysing, .afangar {
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 1.5em;
}

header a {
    position: absolute;
    top: 4em;
    left: 2em;
    text-decoration: none;
    background-color: rgb(53, 156, 113);
    padding: 0.5em 1em;
    color: white;
    border-radius: 25px;
    transition: padding .2s;
}

.deild a:hover, header a:hover {
    background-color: rgb(63, 194, 139);
    padding: 0.5em 2em;
    transition: padding .2s;
}


header, footer {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 2em;
    text-align: center;
    height: 10em;
}

footer h4 {
    padding-top: 2em;
    color:rgb(146, 146, 146);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* Desktop */
@media screen and (min-width: 600px) {
    .deildir {
        grid-template-columns: repeat(2, 1fr);
    }
}
