:root {
  --accent: #009879;
  --menucolor: rgb(20 20 20);
  --bordercolor: rgb(218 218 218);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin: 0 auto;
  max-width: 100em;
  padding: 1em;
  min-height: 80vh;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: rgb(250 250 250);
}

.deildir {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.deild {
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  justify-items: left;
  background-color: white;
  border: 1px solid rgb(218 218 218);
  border-radius: 5px;
  padding: 1.5em;
  min-height: 9.5em;
}

main h3,
main h2 {
  margin: 0;
  padding-bottom: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-weight: bold;
}

table a {
  color: var(--accent);
}

header a {
  position: absolute;
  top: 4em;
  left: 2em;
  text-decoration: none;
  background-color: var(--accent);
  padding: 0.5em 1em;
  color: white;
  border-radius: 25px;
  transition: padding 0.2s;
}

.deild a {
  text-decoration: none;
  background-color: var(--accent);
  padding: 0.5em 1em;
  color: white;
  border-radius: 25px;
  text-align: center;
  transition: padding 0.2s;
  max-height: 2.5em;
}

table a:hover {
  text-decoration: underline;
}

.deild p {
  padding-bottom: 1em;
  color: gray;
}

h1 {
  padding-top: 1em;
  max-width: 20em;
  margin: 0 auto;
}

.lysing {
  margin-bottom: 10px;
}

.lysing,
.afangar {
  background-color: white;
  border: 1px solid var(--bordercolor);
  border-radius: 5px;
  padding: 1.5em;
}

header a:hover,
.deild a:hover {
  background-color: var(--accent);
  padding: 0.5em  1em 0.5em 2em;
  transition: padding 0.2s;
}

header,
footer {
  position: relative;
  background-color: var(--menucolor);
  color: white;
  padding: 2em;
  text-align: center;
  min-height: 10em;
}

footer h4 {
  padding-top: 2em;
  color: rgb(146 146 146);
}

table {
  border-collapse: collapse;
  border: 1px solid var(--bordercolor);
  font-size: 0.9em;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--bordercolor);
}

th {
  cursor: pointer;
}

thead tr {
  background-color: var(--menucolor);
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
}

th,
td {
  padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

td:nth-child(6) {
  text-align: center;
  width: 120px;
}

.asc::after,
.desc::after {
  position: absolute;
  padding-left: 1em;
  color: var(--accent);
}

.asc::after {
  content: "⯅";
}

.desc::after {
  content: "⯆";
}

/* Desktop */
@media screen and (max-width: 800px) {
  .deildir {
    grid-template-columns: 1fr;
  }

  header a {
    position: static;
    display: inline-block;
    margin-top: 1em;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th,
  td {
    padding: 7px;
  }

  td {
    min-height: 35px;
  }

  tr {
    padding-bottom: 1em;
    background-color: white !important;
  }

  thead tr {
    display: none;
  }

  td:not(:last-child) {
    position: relative;
    padding-left: 50%;
  }

  td:last-child {
    margin: 0 auto;
    background-color: var(--accent) !important;
    width: 100%;
  }

  tr td:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  td a {
    color: white;
  }

  td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    font-weight: bolder;
    width: 50%;
  }

  td:nth-of-type(1)::before { content: "NÚMER"; }
  td:nth-of-type(2)::before { content: "HEITI"; }
  td:nth-of-type(3)::before { content: "EININGAR"; }
  td:nth-of-type(4)::before { content: "MISSERI"; }
  td:nth-of-type(5)::before { content: "NÁMSSTIG"; }
}
